/********** Base styles **********/
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.btn {
    position: fixed;
    top: 50px;
    margin-left: 0px;
    padding: 0px;
}

#h1 {
    padding: 40px;
    background-color: whitesmoke;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}

#workspaceList {
    position: relative;
    background-color: whitesmoke;
    margin-left: 20%;
    margin-right: 20%;
    padding: 10px;
}