/********** Base styles **********/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#header {
    text-align: left;
    margin: 20px;
    font-size: Medium;
}

.navbtn {
    width: 250px;
}

#navigation, #workspacelist {
    background-color: white;
    margin: 10px;
}

.compartmentsList {
    position: absolute;
    max-width: 300px;
}

.graph {
    position: relative;
    margin-left: 300px;
    /*width: 350px;*/
    /*height: 350px;*/
    width: 800px;
    height: 800px;
    padding: 10px;
    border: 1px solid;
}

/*.graph {*/
    /*border: 1px solid #e3e3e3;*/
    /*width: 800px;*/
    /*height: 1000px;*/
/*}*/

.active {
    stroke: #000;
    stroke-width: 2px;
}
