* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#header {
    /*margin: 10px;*/
    font-size: medium;
}

.navbtn {
    width: 250px;
}

.graph {
    /*position: relative;*/
    /*margin-left: 400px;*/
    padding: 10px;
    border: 1px solid #e3e3e3;
}

.active {
    stroke: #000;
    stroke-width: 2px;
}
