html, body {
    height: 100%;
    margin: 0;
}

body {
    color: #000;
    background-color: #fff;
    font-family: 'Arial', sans-serif;
}

/** HEADER **/
#header-nav {
    background-color: #fff;
    border-radius: 0;
    border: 0;
}

#logo-img {
    background: url('../img/logo.png') no-repeat;
    width: 250px;
    height: 60px;
    margin: 12px 15px 10px 0;
}

#ulistItems {
    margin-top: 10px;
}

#ulistItems a {
    color: #000;
    font-weight: bold;
    text-align: center;
}

#ulistItems a:hover {
    background: #E7E7E7;
}

#searchBox {
    width: 800px;
    background-position: center;
}

#tickcheckBox {
    width: 800px;
    background-position: center;
}

.searchEvBox {
    width: 500px;
    background-position: center;
}

#proteinTxt {
    width: 500px;
    float: right;
    margin-right: 350px;
}

#speciesTxt {
    width: 500px;
    float: right;
    margin-right: 350px;
}

#geneTxt {
    width: 500px;
    float: right;
    margin-right: 350px;
}

#compartmentTxt {
    width: 500px;
    float: right;
    margin-right: 350px;
}

#soluteFlux1Txt {
    width: 500px;
    float: right;
    margin-right: 350px;
}

#sourceFlux1Txt {
    width: 500px;
    float: right;
    margin-right: 350px;
}

#sinkFlux1Txt {
    width: 500px;
    float: right;
    margin-right: 350px;
}

#mediatorFlux1Txt {
    width: 500px;
    float: right;
    margin-right: 350px;
}

#sourceCon1Txt {
    width: 500px;
    float: right;
    margin-right: 350px;
}

#sourceSrcComp1Txt {
    width: 500px;
    float: right;
    margin-right: 350px;
}

#sourceSnkComp1Txt {
    width: 500px;
    float: right;
    margin-right: 350px;
}

#soluteFlux2Txt {
    width: 500px;
    float: right;
    margin-right: 350px;
}

#sourceFlux2Txt {
    width: 500px;
    float: right;
    margin-right: 350px;
}

#sinkFlux2Txt {
    width: 500px;
    float: right;
    margin-right: 350px;
}

#mediatorFlux2Txt {
    width: 500px;
    float: right;
    margin-right: 350px;
}

#sourceCon2Txt {
    width: 500px;
    float: right;
    margin-right: 350px;
}

#sourceSrcComp2Txt {
    width: 500px;
    float: right;
    margin-right: 350px;
}

#sourceSnkComp2Txt {
    width: 500px;
    float: right;
    margin-right: 350px;
}

#btnText {
    font-weight: bold;
    font-size: 14px;
    height: 45px;
    /*background-position: center;*/
    text-align: center;
}

#ulIdMembrane {
    width: 500px;
    background-position: center;
}

/* END HEADER */

/* LEAD */
#lead-msg {
    background-position: center;
    background-color: #fff;
    color: #0a565c;
    text-align: center;
    width: 800px;
    font-style: italic;
    font-weight: bold;
    font-family: 'Calibri', sans-serif;
}

/* END LEAD */

/* CAROUSAL */
.carousel-inner > .item > img {
    margin: 0 auto;
}

.carousel-caption {
    color: darkred;
    bottom: -20px;
}

.carousel-indicators {
    bottom: -10px;
}

/* END CAROUSAL */

/* main-content */
.content {
    min-height: 80%;
}

/* END main-content*/

/* FOOTER */
.panel-footer {
    margin-top: 10px;
    padding-top: 15px;
    padding-bottom: 10px;
    background-color: #fff;
    border-top: 0;
}

.panel-footer div.row {
    margin-bottom: 15px;
}

#footer-cellml, #footer-pmr, #footer-physiome, #footer-vph, #footer-copyright {
    color: #000;
    font-family: Arial;
    font-weight: bold;
    /*padding-right: 1.2em;*/
    font-size: 1.1em;
}

/* END FOOTER */

#discover-cellml, #model-overlap, #platform, #recommender, #physiome, #vph {
    height: 25px;
    width: 100%;
    position: relative;
    /*border: 2px solid #3F0C1F;*/
    overflow: hidden;
}

#discover-cellml span, #model-overlap span, #platform span, #recommender span, #physiome span, #vph span {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    text-align: left;
    font-size: 1.2em;
    font-weight: bold;
    background-color: #fff;
    color: orange;
}

#sub-discover-cellml span, #sub-model-overlap span, #sub-platform span, #sub-recommender span, #sub-physiome span, #sub-vph span {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    text-align: left;
    background-color: #fff;
    color: #000000;
    font-size: 12px;
    font-family: 'Arial', sans-serif;
}

#sub-discover-cellml, #sub-model-overlap, #sub-platform, #sub-recommender, #sub-physiome, #sub-vph {
    height: 250px;
    width: 100%;
    position: relative;
    /*border: 2px solid #3F0C1F;*/
    overflow: hidden;
}

/* END HOME PAGE */

.graph {
    padding: 10px;
    border: 1px solid #e3e3e3;
}

.active {
    stroke: #000;
    stroke-width: 2px;
}

.nodes circle {
    pointer-events: all;
    stroke: none;
    stroke-width: 40px;
}

.pathlink {
    fill: none;
    stroke: #aaa;
    stroke-width: 2px;
}

circle {
    stroke: #6495ED;
    stroke-width: 1.5px;
}

div.tooltip {
    position: absolute;
    text-align: left;
    width: 180px;
    height: 65px;
    padding: 5px;
    font: 12px sans-serif;
    background: lightblue;
    border: 0px;
    border-radius: 8px;
}

/* Help Tooltip */

.help-tip{
    position: absolute;
    top: 130px;
    right: 250px;
    text-align: center;
    background-color: #BCDBEA;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 14px;
    line-height: 26px;
    cursor: default;
}

.help-tip:before{
    content:'?';
    font-weight: bold;
    color:#fff;
}

.help-tip:hover p{
    display:block;
    transform-origin: 100% 0%;

    -webkit-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;

}

.help-tip p{    /* The tooltip */
    display: none;
    text-align: left;
    background-color: #1E2021;
    padding: 20px;
    width: 300px;
    position: absolute;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    right: -4px;
    color: #FFF;
    font-size: 13px;
    line-height: 1.4;
}

.help-tip p:before{ /* The pointer of the tooltip */
    position: absolute;
    content: '';
    width:0;
    height: 0;
    border:6px solid transparent;
    border-bottom-color:#1E2021;
    right:10px;
    top:-12px;
}

.help-tip p:after{ /* Prevents the tooltip from being hidden */
    width:100%;
    height:40px;
    content:'';
    position: absolute;
    top:-40px;
    left:0;
}

/* CSS animation */

@-webkit-keyframes fadeIn {
    0% {
        opacity:0;
        transform: scale(0.6);
    }

    100% {
        opacity:100%;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:100%; }
}